.card-container {
  min-width: 90px;
  min-height: 98px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
  /*設定立體透視度讓翻轉的過程看起來更立體*/
  perspective: 1000px;
}

.cover,
.back {
  width: 100%;
  height: 100%;
  /*absolute會向外找relative來定位，如果都沒找到就是以body來定位*/
  position: absolute;
  /*將目前back -180度的背面隱藏*/
  backface-visibility: hidden;
  transition: transform 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  /*根據root font-size 放大兩倍 所以為46px，預設是32px*/
  font-size: 1rem;
  border-radius: 0.4rem;
  /*為div加陰影*/
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.9);
  /*為文字加陰影*/
  text-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0, 0.5);
}

.cover {
  background-image: linear-gradient(
    65.5deg,
    rgba(23, 205, 205, 1) -15.1%,
    rgba(23, 25, 95, 1) 71.5%
  );
  color: white;
  cursor: pointer;
  transform: rotateY(0deg);
}

.cover-flip {
  transform: rotateY(180deg);
}

.back {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(128, 248, 174, 1) 0%,
    rgba(223, 244, 148, 1) 90%
  );
  /*-180表示back一開始就是背面*/
  transform: rotateY(-180deg);
}

.back-flip {
  transform: rotateY(0deg);
}
